<header>
  <section class="wrapper">
    <h1>Ballycrochan Walking Club</h1>
    <h2>Something Intersting</h2>
    <p>Biltong venison tongue meatloaf, ground round shoulder short ribs rump pork belly turducken meatball kielbasa leberkas. Kielbasa shank turkey flank bresaola, filet mignon pancetta capicola. Pastrami spare ribs fatback, tail hamburger flank chuck capicola venison pork chop tenderloin shoulder strip steak. Leberkas jerky fatback, speck tenderloin sausage ground round corned beef tongue chicken shank pork ham hock filet mignon pork chop. Leberkas tenderloin kielbasa, jerky biltong rump shoulder capicola venison spare ribs short loin hamburger ham beef ribs corned beef.</p>
  </section>
</header>

<article id="twoway">
  <section class="wrapper">
  <h2>A two-way split</h2>
    <p>
    These two blocks of text will float side by side with some empty columns on the sides on large screens. On medium-sized screens the empty columns will disappear, and on small screens the blocks will be stacked vertically.
    </p>
  </section>
  <section class="wrapper">
    <h2>By the way</h2>
    <p>
    If you're viewing this page on an iOS device, it might zoom in wonkily when you rotate your device. This is because of <a href="http://filamentgroup.com/examples/iosScaleBug/">a Mobile Safari bug</a>.
    </p>
  </section>
</article>
