<!DOCTYPE html>
<html>
<head>
  <title>BcWalking</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script type="text/javascript" src="http://use.typekit.com/cpr7vwl.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body lang="en">

<%= yield %>

</body>
</html>
